@model DataAccessLayer.ViewModels.ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change_Password";
}

<div class="user-list-main-div d-md-flex pt-5 justify-content-between" style="padding-top: 5% !important;">

    <!-- Change Password Text -->
    <div class="custom-text-color fs-3 mt-4 fw-bold ms-3">Change Password </div>

</div>

<div class="pt-4" style="padding: 2%;">

    <!-- Start Change Password Form -->
    <form asp-action="ChangePasswordPost" method="post" class="m-3">
        <p class="mt-3">Enter a new password to update your account credentials</p>

        <!-- Current Password -->
        <div class="form-flaoting mt-3">
            <input asp-for="CurrentPassword" type="password" class="form-control w-50 d-inline mb-2 p-2"
                id="currentPassword" placeholder="Current Password*">
            <i class="bi bi-eye-slash-fill eye-button" id="togglecurrentPassword"></i>
            <div class="pe-5">
                <span asp-validation-for="CurrentPassword" class="text-size validation-color"></span>
            </div>
        </div>

        <!-- New Password -->
        <div class="form-group mt-3">
            <input asp-for="NewPassword" type="password" class="form-control d-inline w-50 mb-2 p-2" id="newPassword"
                placeholder="New Password*">
            <i class="bi bi-eye-slash-fill eye-button" id="togglenewPassword"></i>
            <div class="pe-5">
                <span asp-validation-for="NewPassword" class="text-size validation-color"></span>
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group mt-3">
            <input asp-for="NewConfirmPassword" type="password" class="form-control d-inline w-50 mb-2 p-2"
                id="confirmPassword" placeholder="Confirm New Password*">
            <i class="bi bi-eye-slash-fill eye-button" id="togglenewconfirmPassword"></i>
            <div class="pe-5">
                <span asp-validation-for="NewConfirmPassword" class="text-size validation-color"></span>
            </div>
        </div>

        <!-- Form Submission -->
        <div class="mt-3">
            <button type="submit" class="btn solid-btn">Submit</button>
            @if (User.IsInRole("User"))
            {
                <a asp-action="Dashboard" asp-controller="Items" class="btn hollow-btn">Cancel</a>
            }
            else
            {
                <a asp-action="Dashboard" asp-controller="Admin" class="btn hollow-btn">Cancel</a>
            }
        </div>

    </form>
    <!-- End of Form-->
</div>

<partial name="_ValidationScriptsPartial" />

@section Scripts {
    <script src="~/js/changepassword.js"></script>
}