@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Forbidden";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: rgb(191, 234, 240);">
    <div class="row d-flex align-items-center col-12">
        <div class="col-12 custom-text-color d-flex justify-content-center" style="font-size: 200px;">
            403
        </div>
        <div class="col-12 d-flex custom-text-color justify-content-center" style="font-size: 30px;">
            Forbidden
        </div>
        <div class="col-12 d-flex justify-content-center custom-text-color mt-4">
           Oops, you don't have permission to access this.
        </div>
    </div>
</div>