@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: rgb(191, 238, 240);">
    <div class="row d-flex align-items-center col-12">
        <div class="col-12  custom-text-color  d-flex justify-content-center" style="font-size: 200px;">
            Error
        </div>
        <div class="col-12 d-flex custom-text-color justify-content-center" style="font-size: 15px;">
            Oops! Something went wrong.
        </div>
        <div class="col-12 d-flex justify-content-center  custom-text-color  mt-4">
            We encountered an unexpected error. Please try again later.
        </div>
    </div>
</div>