@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PageNotFound";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: rgb(191, 238, 240);">
    <div class="row d-flex align-items-center col-12">
        <div class="col-12  custom-text-color  d-flex justify-content-center" style="font-size: 200px;">
            404
        </div>
        <div class="col-12 d-flex custom-text-color justify-content-center" style="font-size: 30px;">
            Page Not Found
        </div>
        <div class="col-12 d-flex justify-content-center  custom-text-color  mt-4">
            Oops, The page you are looking for isn't here.
        </div>
    </div>
</div>