@model DataAccessLayer.ViewModels.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginLayout";

    var Email = TempData["Email"];
}

<div class="container-fluid"
    style="height:100vh; background-image: url('/images/backgroundImage.jpg'); background-size: cover; background-position: center;">

    <div class="login-main-div d-flex row align-content-center justify-content-center" style="height:100vh;">

        <div class="container p-sm-4 pb-5 pt-5 shadow-lg"
            style="width: 600px; border-radius: 3%; background-color: rgba(255, 255, 255, 0.521);">

            <div class="d-flex align-items-center justify-content-center mb-4">
                <h3 class="fw-bold custom-text-color fs-2">Forgot Password</h3>
            </div>
            <p class="text mb-2 fs-6 ps-5 pe-5 pb-3">
                Enter your email and we'll send you a link to reset your password
            </p>

            <!--Start Forgot Password Form-->
            <form asp-action="ForgotPassword" asp-controller="Authentication" class="login-form w-100 pb-4"
                method="post">

                <!-- Email -->
                <div class="mb-4 form-group ps-5">
                    <input asp-for="Email" type="email" class="input-fields input form-control d-inline" id="Email"
                        placeholder="Email*" value="@Email" required />
                    <i class="bi bi-person-fill eye-button"></i>
                    <div class="pe-5">
                        <span asp-validation-for="Email" class="text-size validation-color"></span>
                    </div>
                </div>

                <!-- Login -->
                <div class="d-grid form-group ps-5 pe-5 pt-4">
                    <input value="Send" id="login-btn" class="btn text-light"
                        style="background-color: rgb(48, 117, 119); " type="submit" />
                </div>

                <!-- Back To Login -->

                <div class="d-flex justify-content-center pt-4">
                    <a asp-action="Login" class="custom-text-color fw-bold">Back to Login</a>
                </div>

            </form>
            <!--End Login Form-->

        </div>
        <!-- End Login Section -->

    </div>

</div>