@model DataAccessLayer.ViewModels.UserViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<div class="container-fluid"
    style="height:100vh; background-image: url('/images/backgroundImage.jpg'); background-size: cover; background-position: center;">

    <div class="login-main-div d-flex row align-content-center justify-content-center" style="height:100vh;">

        <!-- Start Register Section -->
        <div class="container p-4 shadow-lg"
            style="width: 600px; border-radius: 3%; background-color: rgba(255, 255, 255, 0.521);">

            <!--Start Register Text -->
            <div class="d-flex align-items-center justify-content-center mb-4">
                <h3 class="fw-bold custom-text-color fs-2">Register</h3>
            </div>
            <!--End Register Text -->

            <!--Start Register Form-->

            <form asp-action="Register" asp-controller="Authentication" class="p-sm-5 pt-sm-0">

                <!-- Name & Email -->

                <div class="form-row">
                    <div class="form-group col-md-12 pb-3">
                        <input type="text" asp-for="UserName" class="form-control d-inline" id="UserName" placeholder="UserName*"
                            style="height: 50px;">
                        <i class="bi bi-person-fill eye-button"></i>
                        <span asp-validation-for="UserName" class="text-size validation-color"
                            ></span>
                    </div>
                    <div class="form-group col-md-12 pb-3">
                        <input type="email" asp-for="Email" class="form-control d-inline" id="Email" placeholder="Email*"
                            style="height: 50px;">
                        <i class="bi bi-person-fill eye-button" ></i>
                        <span asp-validation-for="Email" class="text-size validation-color"
                            ></span>
                    </div>
                </div>

                <!-- Phone Number -->

                <div class="form-row">
                    <div class="form-group col-md-12 pb-3">
                        <input asp-for="PhoneNumber" class="form-control input d-inline" type="number" style="width: 100% !important; height: 50px;"
                            placeholder="PhoneNumber*" />
                        <i class="bi bi-person-fill eye-button" ></i>
                        <div class="pe-5">
                            <span asp-validation-for="PhoneNumber" class="text-size validation-color"
                                ></span>
                        </div>
                    </div>
                </div>

                <!-- Password -->

                <div class="form-row">
                    <div class="form-group col-md-12 pb-3">
                        <input asp-for="Password" class="form-control input d-inline" type="password" autocomplete="off"
                            id="register-pass-inp" style="width: 100% !important; height: 50px;"
                            placeholder="Password*" />
                        <i class="bi bi-eye-slash-fill eye-button"  id="registerTogglePassword"></i>
                        <div class="pe-5">
                            <span asp-validation-for="Password" class="text-size validation-color"
                                ></span>
                        </div>
                    </div>
                </div>

                <!-- Confirm Password -->

                <div class="form-row">
                    <div class="form-group col-md-12 pb-3">
                        <input asp-for="ConfirmPassword" class="form-control input d-inline" type="password"
                            autocomplete="off" id="confirm-pass-inp" style="width: 100% !important; height: 50px;"
                            placeholder="Confirm Password*" />
                        <i class="bi bi-eye-slash-fill eye-button"  id="toggleConfirmPassword"></i>
                        <div class="pe-5">
                            <span asp-validation-for="ConfirmPassword" class="text-size validation-color"
                                ></span>
                        </div>
                    </div>
                </div>

                <!-- Sign In -->

                <input type="hidden" asp-for="RoleId" value="3">

                <div class="d-grid form-group w-100">
                    <button type="submit" id="login-btn" class="btn solid-btn mt-3">Sign in</button>
                </div>

                <!-- Back To Login -->

                <div class="d-flex justify-content-center pt-4">
                    <a asp-action="Login" class="custom-text-color fw-bold">Back to Login</a>
                </div>

            </form>
            <!--End Register Form-->

        </div>
        <!-- End Register Section -->

    </div>
</div>